/* 桌面设备 */
@media only screen and (min-width: 1025px)
{
   /* 样式规则 */
   body
   {
       margin: 0;
   }

   .zj
   {
        width: 1280px;
        height: 50px;
        margin: 0 auto;
   }

   .myHead
   {
       width: auto;
       height: 50px;
       border-bottom: 1px solid #a0a0a0;
   }

   .maileYX
   {
        position: relative;
        top: -21px;
   }

   .textYX
   {
        position: relative;
        top: -2px;
   }
}